body{
  min-height: 100vh;
}

.transitionDiv{
  background-image: url('https://emeraldstay.com/public/img/texture_01_green.jpg');
  background-size: cover;
  height: 20vh;
  width: 100%;
  margin-top: 10vh;
}
