:root {
  --primary: #00a062;
  --primary-light: #00a0635c;
  --secondary: #efe7e3;
}

* {
  font-family: Louize, Times, serif;
}

@import "primeicons/primeicons.css";
@import "../node_modules/primeflex/primeflex.scss";

@font-face {
  font-family: Acumin;
  src: url(assets/fonts/AcuminRegular.woff2);
}

@font-face {
  font-family: Louize;
  src: url(assets/fonts/LouizeRegular.woff2);
}

body {
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: 400;
}

.white {
  color: white;
}
.color-primary{
  color: var(--primary);
}

.bg-color-primary {
  background-color: var(--primary);
}

.bg-secondary{
  background: var(--secondary);
}

span > .p-inputtext:enabled:focus, span > .p-inputtext:hover{
  border-color: var(--primary) !important;
  box-shadow: 0 0 0 0.05rem var(--primary) !important;
}

.color-red{
  color:red;
  font-weight: 600;
}
