footer {
  background: black;
  position: relative;
}

.logoFooter {
  background-color: var(--primary);
  height: 100px;
  width: 100px;
  display: block;
}

.footerContainer {
  max-width: 1440px;
  display: grid;
  grid-template-columns: 2fr 4fr 2fr 2fr;
}

.listFirstGroup {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.tmpCol1 {
  display: grid;
  grid-template-columns: 1fr;
}

.listGroup {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  max-height: 50%;
  height: min-content;
}

.social{
  display: flex;
  margin: auto;
  justify-content: center;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  font-size: 1.5rem;
}

@media screen and (max-width: 650px) {

  .logoFooter {
    margin: auto;
  }

  .footerContainer {
    grid-template-columns: auto;
  }

  .listGroup{
    display: grid;
  }

  .containerLink{
    padding: 2rem;
    text-align: center;
  }

  .social{
    position: absolute;
    bottom: 0%;
  }
}
