:host {
  .p-inputtext .p-component .p-element .p-inputnumber-input {
    width: 100%;
  }
}

.max-w-900 {
  max-width: 900px;
}

.custom-form-structure {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-self: center;
}

@media screen and (max-width: 650px) {
  .custom-form-structure {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 430px) {
  .custom-form-structure {
    grid-template-columns: 1fr;
  }
}

